// Home page

// -- .home-top
// --  (ad)
// -- .home-stations
// --  (ad)
// -- .home-btm



// ---------------------------------------------------------------
// HOME TOP
// ---------------------------------------------------------------
.home-top {

  @include row();

  .slider-c2a {
    @include span-columns(8);

      // target the meta-slider
      .slider-wrap div{
        //max-width:900px;
        height: auto;
        box-shadow: 0px 10px 14px -5px rgba(0,0,0,0.1);
      }

    @include media($md-screen){
      @include span-columns(12);
    }
  }

  .home-news {
    @include span-columns(4);

      .news-headlines {

        //hdr
        .news-headlines-hdr {

          .news-hdr-txt {

            @extend %bree;

            float:left;
            margin-left: 20px;
            color: $neutral-tan-lt;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
          }

          .news-hdr-arrow {
            width:52px;
            height:52px;
            background: transparentize($color-white, .9);
            float:right;
            text-align: center;
            color: $neutral-blue-lt;
          }

          width:100%;
          height: 54px;
          line-height: 50px;
          background: transparentize($blue, .6);
          display: block;
          color: $neutral-tan-lt;
          vertical-align: middle;
          border-top: 2px solid $neutral-blue-lt;
          border-bottom: 2px solid $neutral-blue-lt;

        }


        a.kaff-news-link,
        a.kaff-news-link:hover {
          color: $color-black;
        }

        //news feed list
        ul {

          li {

            a {
              &:hover {
                color: $color-white;
                //&::after {
                  //color: $red;
                  //content: ' ►';
                //}
              }

              @extend %montserrat;
              color: $neutral-tan-lt;
              letter-spacing: -.5px;
              padding: 5px 0 5px 15px;
              display: block;

            }

            &:hover {
              background: transparentize($blue, .7);
            }

            //border-bottom: 1px solid $gray;

          }

          font-size: .8em;
          line-height: 2em;

          //shrink on "med"
          //@media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
           //font-size: .7em; 
          //}

        }

        text-align: left;
        //@include background-image(url('images/widget-bg.png'), linear-gradient($widget-grad-top, $widget-grad-btm 100%));
        //background-position: center center;
        //background-size: cover;
        //background-repeat: no-repeat;


        @include media($md-screen){
          //give space between slider and news on this page break
          margin-top: 20px;
        }

      }

    //@include background(transparentize($color-black, .8));
    @include background-image(url('images/widget-bg.png'), linear-gradient($blue-ltr, $blue));
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid $blue-lt;
    padding: 12px;
    margin: auto;
    text-align: center;

    @include media($md-screen){
      @include span-columns(12);
    }

  }

  //.widget {
    //border-bottom: 5px solid $neutral-tan-lt;

    //.widgettitle {
      //background: $neutral-tan-lt;
    //}

  //}

  padding: 40px 10px;
  @include background(linear-gradient(darken($gunmetal, 5%), $blue 100%));


}



// --------------------------------------------------------------------
// HOME STATIONS
// --------------------------------------------------------------------

.home-stations{

  @include row(table);


  .stations-hdr{
    h1, h2, h3, h4 {
      @extend %montserrat;
      color: $blue;
      font-weight: 600;
      text-align: center;

      @include media($md-screen){
        font-size: 1.5em;
      }

      @include media($sm-screen){
        font-size: 1.2em;
      }
    }

    p {
      @extend %montserrat;
      color: $color-alto;
      text-align: center;

      @include media($md-screen){
        font-size: .8em;
      }

    }

    margin: 20px auto 40px;
  }

  margin:40px 0;
  padding: 40px 0;
  background: $gray-dk;
  @include background(radial-gradient($gunmetal, $gunmetal-dk));
}

// FRONT PAGE TILE LOGOS
.kaff-logo,
.kmgn-logo,
.kaffam-logo,
.kfsz-logo,
.ktmg-logo,
.knot-logo,
.kzgl-logo,
.e979-logo,
.kaffnews-logo {
  margin: auto;
  max-height: 130px;
  max-width: 200px;
}

.kaff-block { background: $kaff-blue; }
.kmgn-block { background: $kmgn-gray; }
.kaffam-block { background: $kaffam-white; }
.kfsz-block { background: $kfsz-gray; }
.ktmg-block { background: $ktmg-lt-blue; }
.knot-block { background: $color-whitesmoke; }
.kzgl-block { background: $color-black; }
.e979-block { background: $color-black; }
.kaffnews-block { background: $neutral-tan-lt; }

.station-tile {
  @include span-columns(4);
  @include omega;

  height: 300px;
  overflow: hidden;
  position: relative;
  float:left;

  @include media($md-screen){
    @include span-columns(6);
    @include omega;
  }

  @include media($sm-screen){
    @include span-columns(12);
    @include omega;
  }
}

.logo-block {
  margin-top: 50px;
  text-align: center;
}

.block-btns {
  height: 60px;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 240px;
  width: 100%;
  display: table;
  //background: rgba(255, 255, 255, .07);
}

.block-btn-kaff,
.block-btn-kmgn,
.block-btn-kzgl,
.block-btn-kfsz,
.block-btn-ktmg,
.block-btn-e979 {
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, .08);
  z-index: 100;
}

.block-btn-kaffam,
.block-btn-knot,
.block-btn-kaffnews {
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, .03);
  z-index: 100;
}

//.block-btn-bg-lt,
//.block-btn-bg-dk {
  //border: 1px solid transparent;
//}

a.logo-block-link {
  @extend %montserrat;
  color: $color-white;
  font-size: .8em;
  line-height: 60px;
  text-decoration: none;
  vertical-align: middle;

  &:hover {
    color: $color-white;
    font-size: .9em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
  }

}

.block-btn-web {
  display: table-cell;
  text-align: center;
  width: 50%;
  z-index: 100;
}

.block-btn-listen {
  display: table-cell;
  text-align: center;
  width: 50%;
  z-index: 100;

  .fa {
    font-size: 1.4em;
    padding-bottom: 7px;
    padding-left: 10px;
    vertical-align: middle;
  }

}

.block-btn-show {
  animation: blockBtnOn;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.block-btn-hide {
  animation: blockBtnOff;
  animation-duration: .8s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  opacity: 0;
  transform: translate3d(0, 0, 0);
}

@keyframes blockBtnOn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes blockBtnOff {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

// jQuery toggles 2 classes on click to animate icon
.spkr-icon {
  display: inline-block;
  left: 0;
  position: relative;
}

