//KAFF NEWS




// FEATURED SECTION
.news-featured-section{

	@include row();
	//@include align-items(stretch);
	//@include display(flex);
	//@include flex-direction(row);
	//@include justify-content(flex-start);

	.featured-article {

		@include span-columns(6);

		.news-post {

			a.news-post-title{

				@extend %bree;
				padding: 5px 0 0;
				margin: 10px auto 5px;
				display: block;
				font-size: 1em;
				color: $gunmetal-dk;

				&:hover {
					text-decoration: underline;
				}
			}

			.news-post-content{

				p {
					font-size: .8em;
				}
			}

			a.img-link {

				img.featured-image{
					max-width: 100%;
					height: auto;
					margin: auto;
					max-height: 200px;
				}

				text-align: center;
				margin: auto;
				display: block;
				height: 200px;
				width: 100%;
				background-color: transparentize($gunmetal-lt, .9);
			}

			.news-date {
				margin: 0;
				padding:0;
				color: $gray-light;
				font-size: .6em;
			}

			hr{
				width:100%;
				margin:10px auto;
			}

			padding: 20px;
		}

		.news-featured-ftr {

			a {
				display: block;
				color: $neutral-tan-dk;
			}

			color: $neutral-tan-dk;
			font-weight: 600;
			font-size: .8em;
			padding: 7px 0 7px 20px;
			text-align: left;
			background: lighten($neutral-tan, 3%);
		}

		background: $color-white;

		@include media($sm-screen) {
			@include span-columns(12);
		}

	}

	background: $neutral-tan;
	margin: auto;
	padding: 10px;

}


// LATEST NEWS STORIES SECTION
.news-latest-section {

	@include row();

	.news-latest-hdr{
		h1, h2, h3, h5, h5, h6, h7{
			@extend %bree;
			margin: 20px auto;
			text-align: center;
			padding: 12px 0;
			color: $color-whitesmoke;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
		}

		width: 100%;
		background: $blue;

	}

	// general listing - no image
	.news-listing {

		.news-date {
			margin: 0;
			padding:0;
			color: $gray;
			font-size: .6em;
		}

		.latest-posts-text {

			// no img
			@include span-columns(12);

			a.news-post-title {
				@extend %bree;
				padding: 5px 0 0;
				margin: 5px auto;
				//font-size: .8em;
				color: $gunmetal-dk;

				&:hover {
					text-decoration: underline;
				}
			}

			// target excerpt p
			p:nth-child(2){
				font-size: .8em;
				color: $gray;
			}

			.read-more {
				font-size: .9em;
				color: $blue;
				margin-left: 5px;
				padding: 2px 4px;
				border-left: 2px solid transparentize($light-blue, .5);
				border-right: 2px solid transparentize($light-blue, .5);
				background: $neutral-blue-lt;

				&:hover {
					background-color: transparentize($light-blue, .8);
				}

			}

		}

		padding: 0 15px;

	}


	// listing has image
	.news-listing.has-img {

		.latest-posts-text {
			// has img
			@include span-columns(10);
			@include omega();

			@include media($sm-screen){
				@include span-columns(8);
				@include omega();
			}
		}

		.latest-posts-img {
			// has img
			@include span-columns(2);
			@include omega();

			@include media($sm-screen){
				@include span-columns(4);
				@include omega();
			}

			a {
				img {
					max-width: 100%;
					height: auto;
				}
			}

			text-align: right;
		}
	}

	padding: 2%;

}




// cust class added to body
.kaff-news {


	.sidebar {

		.widget-area {

			.widget {

        //hdr
        .widget-title {

        	@extend %bree;

          width: 100%;
          background: $widget-title-bg;
          display: block;
          color: $widget-title-color;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
          vertical-align: middle;
          padding: 10px 10px 10px 20px;
          margin-bottom: 0;
          border-top: 2px solid $blue;
          border-bottom: 2px solid $blue;

         }

        ul {

        	li {

        		a {

        			@extend %montserrat;

        			&:hover {
        				color: $color-whitesmoke;
        			}

        			color: $color-alto;
        			display: block;
        			padding-left: 10px;
        			font-size: .9em;
        		}

      			&:hover {
      				background: transparentize($color-white, .9);
      			}

      			padding: 5px;
      			margin: 0;
        		//border-left: 2px solid transparentize($color-white, .9);
        		//border-right: 2px solid transparentize($gunmetal, .8);

        	}

					// @include background-image(url('images/widget-bg.png'), linear-gradient($widget-grad-top, $widget-grad-btm 100%));
					// background-position: center center;
					// background-size: cover;
					// background-repeat: no-repeat;
					padding-top: 10px;

        }

				padding: 10px;
				//background: $neutral-tan-dk;//transparentize($gunmetal-lt, .5);
				@include background-image(url('images/widget-bg.png'), linear-gradient($widget-grad-top, $widget-grad-btm 100%));
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;

			}

			padding: 10px;

		}

	@include background(linear-gradient(transparentize($neutral-tan, .2), transparentize($neutral-tan, .5)));

	padding: 7px;

	}

}


