//KAFF NEWS

.news-featured-section{

	@include row();
	//@include align-items(stretch);
	//@include display(flex);
	//@include flex-direction(row);
	//@include justify-content(flex-start);

	background: $neutral-tan;
	margin: auto;
	padding: 10px;

}


.featured-article {

	@include span-columns(6);

	.news-post {

		p.news-post-title{

			@extend %bree;
			padding: 5px 0 0;
			margin: 5px auto;
			font-size: 1em;
			color: $gunmetal-dk;
		}

		.news-post-content{

			p {
				font-size: .8em;
			}
		}

		a.ftr-img {

			img {
				max-width: 100%;
				height: auto;
				max-height: 200px;
				margin: auto;
			}

			text-align: center;
			margin: auto;
			display:block;
		}

		hr{
			width:90%;
			margin:10px auto 20px;
		}

		padding: 20px;
	}

	.news-featured-ftr {

		a {
			display: block;
			color: $neutral-tan-dk;
		}

		color: $neutral-tan-dk;
		font-weight: 600;
		font-size: .8em;
		padding: 7px 0 7px 20px;
		text-align: left;
		background: lighten($neutral-tan, 3%);
	}

	background: $color-white;

}


.news-story-listing{
	@include row();

	a {
		display:block;
	}

	hr{
		width:90%;
		margin:10px auto 20px;
	}

	padding: 20px;
}


.news-date {
	margin: 2% 0 -5px 10px;
	padding: 0;
	font-weight: 400;
	color: $gray;
	font-size: 0.8em;
}

