/* ## Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	background-color: $color-white;
	margin-bottom: 40px;
}

.comment-respond,
.entry-pings {
	padding: 40px 40px 16px;
}

.entry-comments {
	padding: 40px;
}

.comment-header {
	font-size: 16px;
	font-size: 1.6rem;
}

.comment-content {

	p {
		padding: 0;
		margin: 0 auto;
	}

	clear: both;
	word-wrap: break-word;
}


.entry-content {
	.commentlist {

		@include row();


		li.comment {

			li {
				
				.comment-body {
					margin-bottom: 20px;
				}

			margin-right: -40px;

			}

			margin-top: 20px;
			padding: 10px 40px 5px 20px;
			border-left: 2px solid $neutral-tan;

		}

		.depth-1 {
			padding-left: 0;
		}

		.depth-2 {
			border-left: 2px solid $neutral-tan;
		}

		.comment.even,
		.comment.odd {
			background: transparentize($neutral-tan, .9);
		}

		.reply {

			a {
				font-size: 1em;
				color: $blue;
				padding: 2px 6px;
				border-left: 1px solid transparentize($neutral-tan-dk, .7);
				border-right: 1px solid transparentize($neutral-tan-dk, .7);
				background: transparentize($neutral-tan, .7);
				word-break: keep-all;
				display: inline-block;

				&:hover {
					background-color: transparentize($neutral-tan, .4);
				}
			}

			text-align: right;
		}


		font-size: .8em;
		margin-bottom: 20px;
		margin-left: 0;

	}
}



.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%;
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.entry-pings .reply {
	display: none;
}

.form-allowed-tags {
	background-color: $color-whitesmoke;
	font-size: 16px;
	font-size: 1.6rem;
	padding: 24px;
}


.comment-metadata {
	a {
		color: $neutral-tan-dk;
		font-size: .8em;
	}

	a.comment-edit-link {
		margin-left: 10px;
		color: $blue;
	}
}


.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-comment {

	span.sm-print {

		font-size: .8em;
		color: $gunmetal-lt;
	}

	color: $gunmetal;

}